﻿<!-- Modal Container dùng để hiển thị phần delete và details -->

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="detailsModalContent">
            <!-- Nội dung partial view sẽ được nạp vào đây -->
        </div>
    </div>
</div>